p {
  margin-top: 0;
  margin-bottom: 0;
}
.discription::first-letter {
  text-transform: uppercase;
}
header {
  padding: 40px 20px;
}

h1,
h2,
h3 {
  display: inline;
}
#currentTemp {
  font-size: 40px;
}
h1 {
  font-size: 30px;
}
h3 {
  font-size: 15px;
}
.date {
  font-size: 15px;
}
#discription::first-letter {
  text-transform: capitalize;
}

CurrentWeather.Weather {
  padding: 0 20px;
}

.Weather img {
  width: 80px;
  position: relative;
  bottom: 7px;
}
.col {
  padding: 0;
}

button {
  background-color: white;
  color: rgb(182, 180, 180);
  border-width: 2px;
  border-style: outset;
  border-color: white;
}

.unit {
  text-align: right;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
  color: rgb(182, 180, 180);
}
a:hover {
  cursor: pointer;
}

.unit-used {
  font-size: 35px;
  color: black;
}

.unit-used:hover {
  cursor: default;
  color: black;
  text-decoration: none;
}
