.Forecast {
  font-size: 15px;
  margin-top: 30px;
  width: 100%;
}

.Forecast img {
  display: block;
  position: relative;
  right: 0px;
  width: 50px;
}

.temp-low {
  font-size: 13px;
}
.Forecast .row {
  padding: 0 10px;
}
