body {
  /*font-family: "Times New Roman", Times, serif;*/
  font-family: "Raleway", sans-serif;
  background-color: white;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}
.discription::first-letter {
  text-transform: uppercase;
}

h1,
h2,
h3 {
  display: inline;
}
#currentTemp {
  font-size: 40px;
}
h1 {
  font-size: 30px;
}
h3 {
  font-size: 15px;
}
.date {
  font-size: 15px;
}
#discription::first-letter {
  text-transform: capitalize;
}

header {
  padding: 40px;
}

.Weather {
  padding: 0 20px;
}

.Weather img {
  width: 80px;
  position: relative;
  bottom: 7px;
}
.col {
  padding: 0;
}
